.overview-row {
	padding: 0;
	text-align: left;
	margin-top: 1rem;
	min-width: 15rem;
}

.overview-row .col-over-left {
	display: block;
}

.overview-row h4 {
	font-weight: 600;
	color: #555555;
}

.overview-row p {
	font-size: .9em;
	color: #777777;
}

.card {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	margin-bottom: 1rem;
	display: block;
}